$padding: 16px;

.inputWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.input {
  background-color: #13161d;
  border-radius: 16px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: $padding 48px $padding $padding;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  &::placeholder {
    color: #8c8988;
  }

  &:focus {
    &::placeholder {
      color: transparent;
    }
  }
}

.searchIcon {
  position: absolute;
  right: $padding;
  top: $padding;
  width: 24px;
  height: 24px;
}
